@import url(reset.css);

body{
	font-family: 'Ubuntu', sans-serif;
	font-size: 14px;
	background: url("../images/bg.png");
	color: #606060;
}
header{
	width: 955px;
	margin: 0 auto;
}
header nav .logo{
	font-family: 'Bree Serif', serif;
	font-size: 20px;
	float: left;
	margin: 30px 175px 25px 0;
}
header nav .logo img{
	float: left;
	margin-right: 3px;
}
header nav .logo a{
	position: relative;
	margin-bottom: 28px;
	text-decoration: none;
	color: #606060;
	top: -2px;
	left: 4px;
}
header nav ul li{
	float: left;
	margin: 35px 7px 30px;
}
header nav ul li a{
	text-decoration: none;
	color: #515862;
	padding: 5px 20px;
}
header nav ul li .current{
	font-weight: 700;
	font-size: 15px;
	background-color: #12a3d6;
	color: #c5f4ff;
	padding: 36px 10px 20px 15px;
	border-bottom: 10px solid #0080b7;
}
header nav ul li .current::after{
	content: '';
	position: relative;
	left: -25px;
	bottom: -15px;
	border: 5px solid transparent;
	border-bottom: 5px solid #0080b7;
}
header nav ul li .current:hover{
	background-color: #12a3d6;
	border-radius: 0;
}
header nav ul li a:hover{
	color: #ffffff;
	background-color: #f98561;
	border-radius: 5px;
}
header nav .search span{
	float: left;
	font-size: 12px;
	color: #515862;
	margin: 33px 5px 33px 82px;
}
header nav .search img{
	margin: 22px 5px 20px 0;
}
main .banner{
	background: url("../images/banner-bg.png") center center no-repeat;
	background-size: cover;
	height: 296px;
}
main .banner h1{
	font-family: 'Bebas Neue', Arial;
	font-size: 80px;
	color: #cccece;
	padding-top: 120px;
	padding-left: 40%;
}
main .about{
	width: 930px;
	text-align: center;
	margin: 30px auto;
}
main .about h1{
	font-family: 'Bebas Neue', Arial;
	font-size: 50.02px;
	color: #2190c1;
	margin-bottom: 15px;
}
main .about p{
	font-size: 13px;
	color: #515862;
	line-height: 20px;
	margin: 0 18px;
}
main .about .bold{
	font-weight: 700;
	margin: 0 0 20px;
}
main .field .before-table{
	border: none;
	background-color: #cacaca;
	color: #cacaca;
	height: 1px;
	margin: 0;
}
main .field .after-table-1{
	border: none;
	background-color: #a5a5a5;
	color: #a5a5a5;
	height: 3px;
	margin: 0;
}
main .field .after-table-2{
	border: none;
	background-color: #cacaca;
	color: #cacaca;
	height: 1px;
	margin: 0;
}
main .field h1{
	font-family: 'Bebas', Arial;
	font-size: 69.52px;
	text-align: center;
	color: #515862;
	word-spacing: 15px;
	margin-bottom: 45px;
}
main .field table{
	width: 920px;
	height: 310px;
	margin: 0 auto;
}
main .field table td{
	text-align: center;
	border: 1px solid #d7d7d7;
	width: 230px;
	padding: 32px 10px 25px;
}
main .field table td h3{
	font-family: 'Bree Serif', serif;
	font-size: 20.01px;
	color: #2190c1;
	margin-top: 17px;
	margin-bottom: 16px;
}
main .field table td p{
	font-size: 13px;
	font-weight: 300;
	line-height: 17px;
}
main .team{
	width: 860px;/*900*/
	margin: 0 auto;
}
main .team h1{
	font-family: 'Bebas Neue', Arial;
	font-size: 50.02px;
	color: #2190c1;
	margin: 50px 0 40px;
	text-align: center;
}
main .team .block{
	float: left;
	height: 290px;
	width: 380px;
	background-color: #ffffff;
	border: 1px solid #cccccc;
	margin: 0 68px 55px 0;
}
main .team .block img{
	float: left;
	margin: 13px 30px 25px 11px;
}
main .team .block .basic-info{
	float: left;
	width: 155px;
	height: 115px;
	text-align: center;
	margin: 20px 54px 36px 0;
}
main .team .block .basic-info h1{
	font-size: 32.6px;
	margin: 6px 0 0;
}
main .team .block .basic-info h2{
	font-family: 'Bree Serif', serif;
	font-size: 17.39px;
	color: #666666;
}
main .team .block .basic-info h3{
	font-family: 'Ubuntu', sans-serif;
	font-size: 13.04px;
	color: #94979b;
	margin-bottom: 15px;
}
main .team .block p{
	font-family: 'Ubuntu', sans-serif;
	font-size: 12px;
	color: #515862;
	margin: 0 15px 26px 11px;
	line-height: 19px;
}